# compiled output
/dist
/node_modules

/mongo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
mongo/diagnostic.data/metrics.interim
mongo/index-5--1052112514889162469.wt
mongo/index-6--1052112514889162469.wt
mongo/WiredTiger.turtle
mongo/WiredTiger.wt
mongo/diagnostic.data/metrics.2023-09-09T14-59-23Z-00000
mongo/diagnostic.data/metrics.interim
.gitignore
